@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.sign-up-alt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffff;

  padding: 40px;
  background-image: url("../assets/backgrounds/homedark.gif");
  height: 100vh;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;


}

/* Header styles */
.header {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.header-title {
  font-size: 32px;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  letter-spacing: 5px;
}

/* Rounded form box */
.form-box {
  background: url("../assets/textures/darkglass.svg");
  border-radius: 25px;
  box-shadow: 0 80px 30px rgba(0, 0, 0, 0.2);
  padding: 60px;
  max-width: 60%;
  width: 100%;
  border: 2px solid rgb(0, 0, 0);
  margin-top: 120px;
  margin-bottom: 10%;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  color: rgb(255, 255, 255);
  font-size: 28px;
}

.form {
  display: flex;
  flex-direction: column;
  color: black;
}

.input {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 12px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-size: 18px;
}

.terms {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: white;
}

.terms input {
  margin-right: 10px;
}

.submit-button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  padding: 15px 20px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #45a049;
}

.footer {
  background-color: transparent;
  width: 100%;
  padding: 20px;
}
.icon-group {
  display: flex;
  gap: 20px;
}

.icon-wrapper {
  position: relative;
}

.vector {
  height: 66px;
  width: 61px;
}
.text-wrapper-7 {
  color: #eaeaea;
  text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}