.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  width: 50%;
  text-align: center;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: rgb(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 60rem;
}

.chatInput {
  padding: 1rem;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: transparent;
  color: white;
  outline: none;
}

.messageContainer {
  margin-bottom: 0.5rem;
  border-radius: 20rem;
  justify-content: end;
  align-items:flex-start;
  height: 300px;
  width: 100%;
  overflow: scroll;
  background: linear-gradient(to top, black, transparent);
}

.sendButton {
  padding: 0.5rem;
  width: 5rem;
  border: none;
  background: url("../assets/textures/darkglass.svg"), linear-gradient(90deg, rgba(196, 0, 255, 0.3), rgba(59, 130, 246, 0.3));
  backdrop-filter: blur(20px);
  background-size: cover;
  background-position: center;
  border-radius: 100rem;
  color: white;
  cursor: pointer;
}

.messageList {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.messageList .message {
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
}

.message {
    color: white;
}
