header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: white;
}

.logoContainer {
    margin-right: 10px;
}

.text {
    margin: 0;
    font-size: 1.8rem; /* text-6xl */
    font-weight: 800; /* font-extrabold */
    color: transparent; /* text-transparent */
    background: linear-gradient(to right, #3b82f6, #9333ea); /* bg-gradient-to-r from-blue-500 to-purple-600 */
    -webkit-background-clip: text; /* bg-clip-text for Safari */
    background-clip: text; /* bg-clip-text for other browsers */
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1)); /* drop-shadow-lg */
}